:root {
  --bg-color: #1e2638;
  --blue-light: #127681;
  --gold: #f3c623;
  --white: #f4f6ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

h1,
p {
  font-family: "Montserrat", sans-serif;
  color: var(--white);
}

.title {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  width: 820px;
  height: 202px;
  text-align: center;
}

.game-instruction {
  width: 700px;
  height: 370px;
  background: var(--blue-light);
  border: 1px solid var(--white);
  box-sizing: border-box;
  box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.game-instruction p {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 16%;
}

.game-card {
  margin-top: 40px;
  margin-left: 90px;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  background-color: var(--blue-light);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.container-row h1 {
  font-size: 144px;
  margin: 0;
}

.buttons {
  margin-top: 133px;
  display: flex;
}

.btn {
  display: block;
  width: 430px;
  height: 148px;
  background: #127681;
  box-shadow: 0;
  border-radius: 50px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.05s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.small {
  width: 264px;
  height: 94px;
  margin-left: 90px;
  margin-right: 150px;
  margin-top: 54px;
}

.btn p {
  margin: 15%;
}

.btn:active {
  box-shadow: inset 7px 10px 4px rgba(0, 0, 0, 0.25);
}

.score-display {
  display: block;
  width: 430px;
  height: 148px;
  background: #127681;
  box-shadow: 0;
  border-radius: 50px;
  font-weight: 800;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--gold);
}

#timer {
  margin-left: 150px;
  margin-right: 90px;
}

.game-tab {
  display: flex;
  justify-content: space-between;
}

/* secendary styles */
.pr-gold {
  color: var(--gold);
}

.correct {
  scale: 1.4;
  color: green !important;
}

.inCorrect {
  color: red !important;
}

#icon0 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
#icon0 i {
  transform: rotate(84deg) scale(0.90909);
  display: inline-block;
}

#icon1 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}
#icon1 i {
  transform: rotate(354deg) scale(0.55556);
  display: inline-block;
}

#icon2 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
#icon2 i {
  transform: rotate(192deg) scale(0.45455);
  display: inline-block;
}

#icon3 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#icon3 i {
  transform: rotate(153deg) scale(0.90909);
  display: inline-block;
}

#icon4 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}
#icon4 i {
  transform: rotate(177deg) scale(0.90909);
  display: inline-block;
}

#icon5 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}
#icon5 i {
  transform: rotate(114deg) scale(0.45455);
  display: inline-block;
}

#icon6 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
#icon6 i {
  transform: rotate(261deg) scale(0.90909);
  display: inline-block;
}

#icon7 {
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 5rem;
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
#icon7 i {
  transform: rotate(164deg) scale(0.45455);
  display: inline-block;
}
