:root {
  --bg-color: #1e2638;
  --blue-light: #127681;
  --gold: #f3c623;
  --white: #f4f6ff; }

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color); }

h1,
p {
  font-family: "Montserrat", sans-serif;
  color: var(--white); }

.title {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  width: 820px;
  height: 202px;
  text-align: center; }

.game-instruction {
  width: 70%;
  height: 370px;
  background: var(--blue-light);
  border: 1px solid var(--white);
  box-sizing: border-box;
  box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  display: flex;
  align-items: center; }

.game-instruction p {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.game-card {
  margin-top: 40px;
  margin-left: 90px;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  background-color: var(--blue-light);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr; }

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%; }

.container-row h1 {
  font-size: 144px;
  margin: 0; }

.buttons {
  margin-top: 3rem;
  display: flex; }

.btn {
  display: flex;
  align-items: center;
  width: 300px;
  height: 130px;
  background: #127681;
  box-shadow: 0;
  border-radius: 50px;
  font-weight: 800;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.05s ease-in-out;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold; }

.small {
  width: 264px;
  height: 94px;
  margin-left: 90px;
  margin-right: 150px;
  margin-top: 54px; }

.btn p {
  margin-left: auto;
  margin-right: auto; }

.btn:active {
  box-shadow: inset 7px 10px 4px rgba(0, 0, 0, 0.25); }

.score-display {
  display: block;
  width: 430px;
  height: 148px;
  background: #127681;
  box-shadow: 0;
  border-radius: 50px;
  font-weight: 800;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--gold); }

#timer {
  margin-left: 150px;
  margin-right: 90px; }

.game-tab {
  display: flex;
  justify-content: space-between; }

/* secendary styles */
.pr-gold {
  color: var(--gold); }

.correct {
  color: green; }

.inCorrect {
  color: red; }

#icon0 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: col2-start;
  grid-row-start: 2;
  grid-row-end: row3-start; }
  #icon0 i {
    transform: rotate(62deg) scale(0.45455);
    display: inline-block; }

#icon1 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 1;
  grid-column-end: col2-start;
  grid-row-start: 3;
  grid-row-end: row4-start; }
  #icon1 i {
    transform: rotate(254deg) scale(0.55556);
    display: inline-block; }

#icon2 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: col3-start;
  grid-row-start: 1;
  grid-row-end: row2-start; }
  #icon2 i {
    transform: rotate(47deg) scale(0.45455);
    display: inline-block; }

#icon3 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: col3-start;
  grid-row-start: 2;
  grid-row-end: row3-start; }
  #icon3 i {
    transform: rotate(63deg) scale(0.45455);
    display: inline-block; }

#icon4 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: col3-start;
  grid-row-start: 3;
  grid-row-end: row4-start; }
  #icon4 i {
    transform: rotate(165deg) scale(0.90909);
    display: inline-block; }

#icon5 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 2;
  grid-column-end: col3-start;
  grid-row-start: 4;
  grid-row-end: row5-start; }
  #icon5 i {
    transform: rotate(12deg) scale(0.45455);
    display: inline-block; }

#icon6 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 2;
  grid-row-end: row3-start; }
  #icon6 i {
    transform: rotate(271deg) scale(0.45455);
    display: inline-block; }

#icon7 {
  margin: 2rem;
  font-size: 5rem;
  grid-column-start: 3;
  grid-column-end: end;
  grid-row-start: 3;
  grid-row-end: row4-start; }
  #icon7 i {
    transform: rotate(231deg) scale(0.45455);
    display: inline-block; }
