:root{
    --bg-color: #1E2638;
    --blue-light: #127681;
    --gold: #F3C623;
    --white: #F4F6FF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

h1,
p {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
}

.title{
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    width: 820px;
    height: 202px;
    text-align: center;
}

.game-instruction{
    width: 700px;
    height: 370px;
    background: var(--blue-light);
    border: 1px solid var(--white);
    box-sizing: border-box;
    box-shadow: 10px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.game-instruction p{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin: 16%;
}

.game-card{
    margin-top: 40px;
    margin-left: 90px;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: var(--blue-light);
}

.container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container-row h1 {
    font-size: 144px;
    margin: 0;
}

.buttons{
    margin-top: 133px;
    display: flex;
}

.btn{
    display: block;
    width: 430px;
    height: 148px;
    background: #127681;
    box-shadow: 0;
    border-radius: 50px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.05s ease-in-out;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.small{
    width: 264px;
    height: 94px;
    margin-left: 90px;
    margin-right: 150px;
    margin-top: 54px;
}

.btn p {
    margin: 15%;
}

.btn:active{
    box-shadow: inset 7px 10px 4px rgba(0, 0, 0, 0.25);
}

.score-display{
    display: block;
    width: 430px;
    height: 148px;
    background: #127681;
    box-shadow: 0;
    border-radius: 50px;
    font-weight: 800;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: var(--gold);
}

#timer {
    margin-left: 150px;
    margin-right: 90px;
}

.game-tab{
    display: flex;
    justify-content: space-between;
}



/* secendary styles */

.pr-gold{
    color: var(--gold);
}